server:
  port: 8081
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/drawdb
    username: postgres
    password: 1618
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
