server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ticketdb
    username: postgres
    password: 1618

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
